/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}
body{
  background:#DADDE2;
  font-family: Montserrat, Bold;

}

.disabled-half{
  opacity: 0.5;
  pointer-events: none;
}

.nameMarker{

  font-size: 12px;
  text-align: center;
  text-justify: auto;
  font-family: 'Montserrat', sans-serif;
}
.icon{
  background-color: red;
  border-radius: 25px;
  height: 40px;
  width: 40px;
}
.markerIcon{
  margin-top: 1vh;
}
.markerName{
  border: solid 1px;
  background-color: yellow;

}

