/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}
body{
  background:#DADDE2;
  font-family: Montserrat, Bold;

}

.disabled-half{
  opacity: 0.5;
  pointer-events: none;
}
