
<div class="container">
  <nav class="navbar fixed-top navbar-light bg-light">

    <div class="col-4">
      <div class="text-left">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo_small.png" width="35px" height="35px"
               class=""
               alt="">
          NomNom
        </a>
      </div>
    </div>
  </nav>

  <br/><br/>
  <br/><br/>

  <div class="container-fluid">
  <form class="form-signin">

    <div class="row">
      <label for="inputEmail" class="txtlabel">Email</label>
    </div>
    <div class="row">
      <input type="email" id="inputEmail" class="form-control txtbox1" placeholder="        Enter Email" required="" autofocus="">
    </div>
    <div class="row">
      <label for="inputPassword" class="txtlabel">Password</label>
    </div>
    <div class="row">
      <input type="password" id="inputPassword" class="form-control txtbox2" placeholder="        Enter Password" required="">
    </div>

    <div class="row flex-row-reverse">
      <a class="btn btn-danger btn-red" role="button" routerLink="/rest">LOGIN        </a>
    </div>
  </form>
</div>

<div class="postform">
  <h2 class="or"> OR </h2>

  <br/>
  <button class="google-sign"><img src="../assets/btn_google_signin_dark_focus_web@2x.png" class="google-img"/></button>

</div>


</div>
<router-outlet></router-outlet>
