<div class="container">
  <nav class="navbar fixed-top navbar-light bg-light">

    <div class="col-4">
      <div class="text-left">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo_small.png" width="35px" height="35px"
               class=""
               alt="">
          NomNom
        </a>
      </div>
    </div>
  </nav>

  <br/><br/>
  <br/><br/>

  <div class="container-fluid">
    <div class="form-signin">

      <div class="row">
        <label for="inputEmail" class="txtlabel">Email</label>
      </div>
      <div class="row">
        <input type="email" id="inputEmail" class="form-control txtbox1" placeholder="        Enter Email" required=""
               [ngModel]="loginFormGroup.get('email').value"
               (ngModelChange)="loginFormGroup.get('email').setValue($event)"
        >
        <div *ngIf="loginFormGroup.get('email').invalid">
          <div *ngFor="let error of loginFormGroup.get('email').errors | keyValueOrder" [ngSwitch]="error.key">
            <div *ngSwitchCase="'required'">
              This field is required
            </div>
            <div *ngSwitchCase="'email'">
              This email is invalid
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <label for="inputPassword" class="txtlabel">Password</label>
      </div>
      <div class="row">
        <input type="password" id="inputPassword" class="form-control txtbox2" placeholder="        Enter Password"
               [ngModel]="loginFormGroup.get('password').value"
               (ngModelChange)="loginFormGroup.get('password').setValue($event)"
        >
      </div>
      <div class="row">
        <div *ngIf="loginFormGroup.get('password').invalid">
          <div *ngFor="let error of loginFormGroup.get('password').errors | keyValueOrder" [ngSwitch]="error.key">
            <div *ngSwitchCase="'required'">
              This field is required
            </div>
            <div *ngSwitchCase="'password'">
              This email is invalid
            </div>
          </div>
        </div>
      </div>

      <div class="row flex-row-reverse">
        <a class="btn btn-danger btn-red" role="button" (click)="login()">LOGIN </a>
      </div>
    </div>
  </div>



</div>
<router-outlet></router-outlet>
