body {

  background: #DADDE2;
  font-family: 'Montserrat', sans-serif;

}

a.list1 {
  text-decoration: none;

}

div.tile {
  font-weight: bold;
}

div.map {
  border: 10px solid white;
  height: 82vh;
  width: 30vw;
}

.hoverable {
  border: solid white;
  background-color: #fff;
  color: black;
}

.hoverable:hover {

  box-shadow: 30px 30px 30px rgb(128, 126, 126);
  transform: translate3d(0, -2px, 0);

}

.restaurant {
  width: 5vw;
}

.menulist {
  width: 40vw;
}

.mapbox {
  width: 40vw;

}

#gmap {
  height: 79vh;
  width: 28.5vw;
  z-index: 2;
}

#cartForm {

  position: absolute;

  margin-left: 10%;
  margin-right: 20%;
  z-index: 1;
  background-color: #DADDE2;
  font-size: 12px;
  justify-content: center;

  width: 20vw;


}

#cartTitle {
  width: 40%;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 14px;
  margin-top: 5%;
}

.quantity {

  margin-left: 10px;
  width: 47px;
  font-size: 10px;
}

.close {
  border-style: none;
  height: 30px;
  width: 30px;
  color: black;
  outline: none;
}

.submitButton {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.itemsList {
  justify-content: center;
  font-size: 10px;
}

hr {

  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.subtotal {
  margin-left: 3%;
}

.mealDescription {

  font-size: 14px;
}

.mealContent {
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

