<div id="body">


  <div>


    <div class="container-fluid">

      <div class="row">
        <!-----------------------------Header--------------------->
        <nav class="navbar fixed-top navbar-light bg-light">
          <div class="col-4">
            <div class="text-left">
              <a class="navbar-brand" href="#">
                <img src="/assets/logo_small.png" width="35" height="35" class="d-inline-block align-top"
                     alt="">
                NomNom
              </a>
            </div>
          </div>
          <div class="col-3">
            <div class="text-right">
              <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">
                  <svg class="bi bi-person-circle" width="35" height="35" viewBox="0 0 16 16"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8
                              10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0
                              8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0
                              0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8
                              1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                              8z"/>
                  </svg>
                </button>
                <div class="dropdown-menu
                        dropdown-menu-right">
                  <a class="dropdown-item" href="#">Order
                    History</a>
                  <a class="dropdown-item" href="#">Account</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <br><br><br><br>

      <div class="row">

        <div class="col-3 restaurant">
          <div class="row">
            <div class="col-3">
              <img src="{{detail.img2}}"
                   class="card-img" alt="...">
            </div>
            <div class="col-6">
              <p>{{detail.name}}</p>
              <p class="text-danger">9.2</p>
              <p>{{detail.del_time}}</p>
              <p>{{detail.del_fee}}</p>
            </div>
          </div>
        </div>

        <!--=============================================================-->

        <div class="col-5 menulist">

          <div *ngFor="let me of meal">
            <div class="list1 cursor-pointer">
              <div class="card hoverable" (click)="addToCart(me)">
                <div class="row no-gutters">
                  <div class="col-3 restaurant">
                    <img
                      src="{{me.image}}"
                      class="card-img" alt="...">
                  </div>
                  <div class="col-9 justify-content-center">
                    <h6 ngDefaultControl class="card-title">{{me.name}}</h6>
                    <p class="card-text mealDescription"><small class="text-muted">{{me.description}}</small>
                    </p>
                    <p ngDefaultControl  class="card-text">${{me.price}}</p>
                    <div></div><div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--  ======================================================-->
        <div class="col-4 mapbox">
          <div class="map position-fixed">
            <div class="container-fluid">
              <div id="cartForm">
                <label id="cartTitle">Your Order</label>
                <hr/>
                <!--Cart Items-->
                <div *ngFor="let item of cartMeal">
                <div class="form-row itemsList">
                  <div class="form-group col-3"><input type="number" min="1" class="form-control text-center quantity"
                                                       [(ngModel)]="item.quantity"></div>
                  <div class="form-group col-6"><label>{{item.name}}</label></div>
                  <div class="form-group col-2"><label>${{item.price}}</label></div>
                  <div class="form-group col-1">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                </div>

                </div>
                <hr/>
                <div class="form-row subtotal">
                  <div class="form-group col-10">Subtotal:</div>
                  <div class="form-group col-2">$20</div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <button type="submit" class="btn btn-primary submitButton">Checkout</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
            <ngui-map id="gmap" center="New Westminter, BC, Canada" class="map-wrapper">

              <custom-marker position="{{detail.lat}},{{detail.lng}}" class="custom-icon location">

                <i class="fa fa-map-marker"></i>


              </custom-marker>
            </ngui-map>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>


<router-outlet></router-outlet>
