body{

    background:#DADDE2;
    font-family: Montserrat, Bold;
    
 }
 
 a.list1
 {
    text-decoration: none;
 
 }
 
 div.tile
 {
    font-weight: bold;
 }
 
 div.map
 {
    border: 10px solid white;
    height: 74vh;
    width: 30vw;
 }
    
 .hoverable{
    border: solid white;
    background-color: #fff;
    color: black;
  }
  .hoverable:hover{
  
    box-shadow: 30px 30px 30px rgb(128, 126, 126);
    transform: translate3d(0,-2px,0);
  
  }
 
  .restaurant
  {
    width: 5vw;  
  }

  .menulist
  {
    width: 40vw;  
  }

  .mapbox
  {
    width: 40vw;  
    font-family: 'Montserrat', sans-serif;
   
  }

  iframe{
      height: 56vh;
      width: 28.5vw;
      z-index: 2;
  }

  #cartForm{

      position: absolute;
      top: 2px;
      left: 20px;
      right: 20px;
      z-index: 1;
      background-color: white

  }

  #cartTitle{

    margin-left: 10px;
    margin-top: 10px;
  }
#quantity{
  
  margin-left: 10px;
  width: 50px;
  height: 40px;
}

.close{
  border-style: none;
  height: 30px;
  width: 30px;
  color: black;
}