
<div class="container-fluid">


  <div class="row">

    <app-header></app-header>



  </div>

  <div class ="row map-row">

    <div>
      <ngui-map id="gmap" center="{{customer.lat}},{{customer.lng}}" zoom="14" class="map-wrapper map-responsive">

        <polyline [editable]="false"
                  [path]="delivery?.path_to_customer"
                  [strokeColor]="'#00000'"
                  [strokeOpacity]="1"></polyline>

        <polyline [editable]="false"
                  [path]="delivery?.path_to_restaurant"
                  [strokeColor]="'#000000'"
                  [strokeOpacity]="1"></polyline>

        <custom-marker position="{{customer.lat}},{{customer.lng}}" class="custom-icon location">

          <img class="markerIcon" src="assets/userIcon.svg" height="30px" width="28px"/>

        </custom-marker>


        <custom-marker position="{{restaurant.lat}},{{restaurant.lng}}" class="custom-icon location">
          <div class=" text-center icon">
            <img class="markerIcon" src="assets/marker_icon.svg" height="20px" width="28px"/>
          </div>

        </custom-marker>

        <custom-marker position="{{courier.lat}},{{courier.lng}}" class="custom-icon location">

            <img class="markerIcon" src="assets/car-solid.svg" height="20px" width="28px"/>


        </custom-marker>


      </ngui-map>  </div>

    <div class="over-map">
      <div class="card delivery">

        <div>
          <h5 class="mt-2" style="text-align:center;" >Delivery</h5>
        </div>

        <div class="row">
          <div class="col-2 text-right">
            <img src="../assets/clock-solid.svg">
          </div>
          <div class="col-10 text-left">
            <span> 31-51 mins (ASAP)</span>
          </div>
        </div>


        <div class="row">

          <div class="col-2 text-right">
            <img src="../assets/map-marker-alt-solid.svg">
          </div>

          <div class="col-10 text-left">
            <span>{{customer.address}}</span>
          </div>
        </div>

        <div class="row">

          <div class="col-1 text-right"></div>
          <span class="col-10 text-left">Courier</span>
        </div>
        <div class="row">

          <div class="col-3 text-center" style="align-self:flex-end;">
            <img src="../assets/car-solid.svg">
          </div>

          <div class="col-6 text-left">
            <span>{{courier.name}}</span><br>
            <span>{{courier.driver_license}}</span><br>
            <span>{{courier.phone_no}}</span>
          </div>



        </div>
      </div>


    </div>

    <div class="card checkout">

      <div>
        <h5 class="mt-3" style="text-align:center;">Summary</h5>
      </div>
      <div class="row">
        <div class="col-1">
        </div>
        <div class="col-4">
          <img src="../../assets/cc-visa-brands.svg">
        </div>
        <div class="col-7">
          <span>Pay by card: 4537 **** **** ****</span>
        </div>

      </div>

      <div class="mid-checkout">
        <div id="scrollbar">
        <div *ngFor ="let item of order.items" class="row">
          <div class="col-2 text-right">{{item.quantity}}</div>
          <div class="col-7">{{item.meal.name}}</div>
          <div class="col-3 text-left">${{item.meal.price}}</div>

        </div>
        </div>

      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-7 text-left mt-2"><h4>Total</h4></div>
        <div class="col-4 text-center mt-2"><h4>${{order.total}}</h4></div>

      </div>

    </div>

  </div>
</div>
