<div class="d-flex flex-column  vh-100 left-bar overflow-auto">
  <div [routerLink]="['admin','map']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">Maps
  </div>
  <div [routerLink]="['admin','order']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">Order
  </div>
  <div [routerLink]="['admin','restaurant']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">
    Restaurant
  </div>
  <div [routerLink]="['admin','customer']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">Customer
  </div>
  <div [routerLink]="['admin','courier']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">Courier
  </div>
  <div [routerLink]="['admin','delivery']"
       [routerLinkActive]="'active'"
       class="menu-item d-flex p-2 align-items-center">Delivery
  </div>
  <div class="flex-grow-1"></div>
  <div class="p-3">
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="checkout()">Checkout Test</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="signUp()">Sign Up Test</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="signIn()">Sign In Test</button>
    </div>
    <div class="mt-3 text-center">
      <h4>{{counter}}</h4>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="startSimulator()">Start Simulator</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-danger" (click)="stopSimulator()">Stop Simulator</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-success" (click)="generateOrder()">Generate Orders</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-success" (click)="cleanOrder()">Clean Orders</button>
    </div>
    <div class="mt-3">
      <button type="button" class="btn btn-primary" (click)="resetDB()">Reset DB</button>
    </div>
  </div>
</div>
