<div id="body">


  <div>


    <div class="container-fluid">

      <div class="row">
        <!-----------------------------Header--------------------->
        <app-header></app-header>

      </div>

      <br><br><br><br>

      <div class="row">


        <div class="col-12 menulist">

              <div class="container">
                <div class="card hoverable">
                  <table class=" table table-striped">

                    <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Restaurant Name</th>
                      <th scope="col">Items</th>
                      <th scope="col">Order Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let order of customerOrders">
                      <th scope="row">#{{order.id}}</th>
                      <td><img src="{{order.restaurant.img2}}" class="card-img" alt="Logo">{{order.restaurant.name}}</td>
                      <td><div id="scrollbar"><div *ngFor="let item of order.items">{{item.meal.name}}</div></div></td>
                      <td>${{order.total}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!--  ======================================================-->

    </div>




<router-outlet></router-outlet>
