<div id="body">


  <div>


    <div class="container-fluid">

      <div class="row">
        <!-----------------------------Header--------------------->
        <app-header></app-header>

      </div>

      <br><br><br><br>

      <div class="row">


        <div class="col-12 menulist">

              <div class="container">
                <div class="card hoverable">
                  <table class=" table table-striped">

                    <thead>
                    <tr>
                      <th>Order ID</th>
                      <th >Date</th>
                      <th scope="col">Restaurant Name</th>
                      <th scope="col">Items</th>
                      <th scope="col">Order Price</th>
                      <th scope="col">Order Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let delivery of customerOrders" class="orderID" (click)=gotoDelivery()>
                      <th>#{{delivery.order.id}}</th>
                      <td>{{delivery.order.date_time | date: 'yyyy-MM-dd h:mm a'}}</td>
                      <td><img src="{{delivery.order.restaurant.img2}}" class="card-img" alt="Logo">{{delivery.order.restaurant.name}}</td>
                      <td><div id="scrollbar"><div *ngFor="let item of delivery.order.items">{{item.meal.name}}</div></div></td>
                      <td>${{delivery.order.total}}</td>
                      <td>{{delivery.currentStatus.status}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!--  ======================================================-->

    </div>




<router-outlet></router-outlet>
