.card-img{
  height: 8vh;
  width: 4vw;
}
#bodyScrollbar{
  max-height: 70vh;
  overflow: auto;
}
#scrollbar{
  max-height: 15vh;
  overflow: auto;
}
tbody{
  font-size: 14px;
  text-align: justify-all;
}
