<div id="body">


  <div>


    <div class="container-fluid">

      <div class="row">
        <!-----------------------------Header--------------------->
        <nav class="navbar fixed-top navbar-light bg-light">
          <div class="col-4">
            <div class="text-left">
              <a class="navbar-brand" href="#">
                <img src="/assets/logo_small.png" width="35" height="35" class="d-inline-block align-top"
                     alt="">
                NomNom
              </a>
            </div>
          </div>
          <div class="col-3">
            <div class="text-right">
              <div class="dropdown">
                <button type="button" class="btn" data-toggle="dropdown">
                  <svg class="bi bi-person-circle" width="35" height="35" viewBox="0 0 16 16"
                       fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8
                              10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0
                              8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0
                              0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8
                              1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                              8z"/>
                  </svg>
                </button>
                <div class="dropdown-menu
                        dropdown-menu-right">
                  <a class="dropdown-item" href="#">Order
                    History</a>
                  <a class="dropdown-item" href="#">Account</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <br><br><br><br>

      <div class="row">


        <div class="col-12 menulist">

              <div class="container">
                <div class="card hoverable">
                  <table class=" table table-striped">

                    <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Restaurant Name</th>
                      <th scope="col">Items</th>
                      <th scope="col">Order Price</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let order of customerOrders">
                      <th scope="row">#{{order.id}}</th>
                      <td><img src="{{order.restaurant.img2}}" class="card-img" alt="Logo">{{order.restaurant.name}}</td>
                      <td><div id="scrollbar"><div *ngFor="let item of order.items">{{item.meal.name}}</div></div></td>
                      <td>${{order.total}}</td>

                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>

      <!--  ======================================================-->

    </div>




<router-outlet></router-outlet>
