<div class="p-5">
  <table class="table" *ngIf="!!restaurants && restaurants.length">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let obj of restaurants[0] | keyValueOrder: ['_raw','meals','meal_ids']:['id']">{{obj.key}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of restaurants; let $index = index;">
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td *ngFor="let obj of item | keyValueOrder: ['_raw','meals','meal_ids']:['id']">{{obj.value}}</td>
    </tr>
    <tr>
      <td [colSpan]="(item | keyValueOrder: ['_raw','meals','meal_ids']).length + 1">
        <div><b>MEALS</b></div>
        <div *ngFor="let meal of item.meals">
          {{meal.name}} | ${{meal.price}}
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
