<div id="body">
  <div class="container-fluid">
    <!-----------------------------Header--------------------->
    <nav class="navbar fixed-top navbar-light bg-light">

      <div class="col-4">
        <div class="text-left">
          <a class="navbar-brand" href="#">
            <img src="/assets/logo_small.png" width="35" height="35"
                 class="d-inline-block align-top"
                 alt="">
            NomNom
          </a>
        </div>
      </div>
      <div class="col-5">
        <div class="text-center">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-group-sm"
                    type="submit">Search
            </button>
          </form>
        </div>
      </div>
      <div class="col-3">
        <div class="text-right">
          <div class="dropdown">
            <button type="button" class="btn"
                    data-toggle="dropdown">
              <svg class="bi bi-person-circle" width="35"
                   height="35" viewBox="0 0 16 16"
                   fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.468 12.37C12.758 11.226 11.195 10 8
                                    10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0
                                    8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0
                                        0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd"
                      d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8
                                            1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                                            8z"/>
              </svg>
            </button>
            <div class="dropdown-menu
                                        dropdown-menu-right">
              <a class="dropdown-item" href="#">Order
                History</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </nav>
    <br><br><br><br><br><br>

    <!-- Restaurants -->
    <div *ngFor="let rest of restaurants">
      <!-- 2nd Restaraunt -->
      <a class="list1" href="#">
        <div class="card hoverable" style="max-width: 60vw;">
          <div class="row no-gutters">
            <div class="col-3">
              <img
                src="https://static.skipthedishes.com/indian-bombay-bistro-menu-image-small-1470363342212.jpg"
                class="card-img"
                alt="cardImg">
            </div>
            <div class="col-1"></div>
            <div class="col-1
                                                align-self-center">
              <img
                src="https://static.skipthedishes.com/indian-bombay-bistro-list-image-mobile-1490966940146.png"
                class="card-img" alt="Logo">
            </div>
            <div class="col-1"></div>
            <div class="col-4
                                                align-self-center">
              <h5 class="card-title">Indian
                Bombay
                Bistro</h5>
              <p class="card-text">35 - 55
                mins</p>
              <p class="card-text">$3.49
                Delivery</p>
            </div>
            <div class="col-2
                                                align-self-center">
              <div
                class="tile"><span
                class="text-danger">9.4</span></div>
            </div>
          </div>
        </div>
      </a>
      <br>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">
        <!--<div class="col-7">
          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-052deb1f3ae55ac65bec.jpg"
                    class="card-img" alt="...">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-a415e23b3a4a919bb34e.png"
                    class="card-img" alt="...">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">

                  <h5 class="card-title">Mc
                    Donald's</h5>
                  <p class="card-text">44 - 55
                    mins</p>
                  <p class="card-text">$2.49
                    Delivery</p>

                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.2</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>
          &lt;!&ndash; 2nd Restaraunt &ndash;&gt;
          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://static.skipthedishes.com/indian-bombay-bistro-menu-image-small-1470363342212.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://static.skipthedishes.com/indian-bombay-bistro-list-image-mobile-1490966940146.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Indian
                    Bombay
                    Bistro</h5>
                  <p class="card-text">35 - 55
                    mins</p>
                  <p class="card-text">$3.49
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.4</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 3rd restaurant &ndash;&gt;
          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://static.skipthedishes.com/baba-sweets-and-restaurant-menu-image-small-1529343317142.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-646b00287c87d93df6e6.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Manjal
                    South Indian Kitchen </h5>
                  <p class="card-text">40 - 60
                    mins</p>
                  <p class="card-text">$3.49
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.1</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 4th restaurant &ndash;&gt;
          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-f1381e01aa6dc424e2b4.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-c86295f6aeb01e431414.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Bubble
                    World New Westminster </h5>
                  <p class="card-text">15 - 30
                    mins</p>
                  <p class="card-text">$4.29
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">8.5</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 5th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-fbe36404df951ecccbc1.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://static.skipthedishes.com/hon-sushi-list-image-mobile-1491230537653.jpg"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Miku
                    Vancouver</h5>
                  <p class="card-text">35 - 55
                    mins</p>
                  <p class="card-text">$4.29
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.4</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 6th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-fc24c6064188563c7bae.png"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-ff0221a21117f2c6780f.jpg"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Banh Mi
                    Bar</h5>
                  <p class="card-text">27 - 47
                    mins</p>
                  <p class="card-text">$4.49 /
                    Free Over $20 Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">8.7</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>


          &lt;!&ndash; 7th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-12a63687e66ed6108c27.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-0e0339ecb35a072239ff.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">De Dutch
                    Pannekoek House</h5>
                  <p class="card-text">27 - 47
                    mins</p>
                  <p class="card-text">$3.49
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.3</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 8th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-7b55cf0da25ce6764b7d.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-0c87f8fdef4fefe787d6.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Pizza Hut</h5>
                  <p class="card-text">25 - 45
                    mins</p>
                  <p class="card-text">$4.50
                    Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">8.9</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

          &lt;!&ndash; 9th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-7cf3d494d42a0ac8f772.png"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-a32c6ec3f143ef49b40f.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Donair &
                    Sub House</h5>
                  <p class="card-text">32 - 52
                    mins</p>
                  <p class="card-text">$2.49
                    Delivery / Free Over $20</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.7</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>
          &lt;!&ndash; 10th Restaurant &ndash;&gt;

          <a class="list1" href="#">
            <div class="card hoverable" style="max-width: 60vw;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/small-1990bd85e70162a48a42.jpg"
                    class="card-img"
                    alt="cardImg">
                </div>
                <div class="col-1"></div>
                <div class="col-1
                                                align-self-center">
                  <img
                    src="https://restaurants-static.skipthedishes.com/images/resized/mobile-e7550a65a1ee298b4958.png"
                    class="card-img" alt="Logo">
                </div>
                <div class="col-1"></div>
                <div class="col-4
                                                align-self-center">
                  <h5 class="card-title">Subway</h5>
                  <p class="card-text">19 - 39 mins</p>
                  <p class="card-text">$2.49 Delivery</p>
                </div>
                <div class="col-2
                                                align-self-center">
                  <div
                    class="tile"><span
                    class="text-danger">9.7</span></div>
                </div>
              </div>
            </div>
          </a>
          <br>

        </div>-->
        <!------------------MapColumn--------------------->
        <div class="col-1"></div>


        <div class="col-4">

          <div class="map">
            <ngui-map id="gmap" center="New Westminter, BC, Canada" class="map-wrapper">
              <custom-marker position="49.209773, -122.922241" class="custom-icon location">
                <i class="fas fa-map-marker-alt "></i>
              </custom-marker>
              <custom-marker position="49.211773, -122.923016" class="custom-icon car">
                <i class="fas fa-car"></i>
              </custom-marker>
            </ngui-map>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

