<div id="body">


  <div class="container-fluid">
    <!-----------------------------Header--------------------->
    <div class="row">
      <app-header></app-header>
    </div>
    <br><br><br><br>
    <div class="container">
      <div class="search">
        <div class="form-inline justify-content-center">
          <input class="form-control" type="search"
                 placeholder="Search" aria-label="Search" [(ngModel)]="searchData.RestaurantName"
                 (ngModelChange)="onSearchValueChanged($event)">
          <button class="btn btn-outline-success btn-group-sm "
                  [class.disabled-half]="searchData.RestaurantName==''"
                  type="submit" (click)="search()">Search
          </button>
        </div>
    </div>
    </div>
    <!-- Restaurants -->
    <br><br>
    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-7">
          <div *ngFor="let rest of searchedRestaurant">
            <!-- 2nd Restaraunt -->
            <div class="list1 cursor-pointer">
              <div class="card hoverable" [routerLink]="['../rest-details', rest.id]" style="max-width: 60vw;">
                <div class="row no-gutters">
                  <div class="col-3">
                    <img
                      src="{{rest.img1}}"
                      class="card-img"
                      alt="cardImg">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-1 align-self-center logo">
                    <img
                      src="{{rest.img2}}"
                      class="card-img" alt="Logo">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-4
                                                align-self-center">
                    <h5 class="card-title">{{rest.name}}</h5>
                    <p class="card-text">{{rest.del_time}}</p>
                    <p class="card-text">{{rest.del_fee}}</p>

                  </div>
                  <div class="col-2
                                                align-self-center">
                    <div
                      class="tile"><span
                      class="text-danger">{{rest.rating}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!------------------MapColumn--------------------->
        <div class="col-1"></div>


        <div class="col-4">

          <div class="map">
            <ngui-map id="gmap" center="{{customer.lat}},{{customer.lng}}" zoom="13" class="map-wrapper">
              <ng-container *ngFor="let restaurant of restaurants">

                <custom-marker position="{{restaurant.lat}},{{restaurant.lng}}" class="custom-icon location">

                  <div class=" text-center icon">
                    <img class="markerIcon" src="assets/marker_icon.svg" height="20px" width="28px"/>
                  </div>
                  <div class="markerName"><div class="nameMarker"><b>{{restaurant.name}}</b></div></div>

                </custom-marker>
                <custom-marker position="{{customer.lat}},{{customer.lng}}" class="custom-icon location">

                  <img class="markerIcon" src="assets/userIcon.svg" height="30px" width="28px"/>

                  <div class="markerName"><div class="userMarker"><b>{{customer.name}}</b></div></div>

                </custom-marker>

              </ng-container>
            </ngui-map>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
