<div id="body">


  <div class="container-fluid">
    <!-----------------------------Header--------------------->
    <nav class="navbar fixed-top navbar-light bg-light">

      <div class="col-4">
        <div class="text-left">
          <a class="navbar-brand" href="#">
            <img src="/assets/logo_small.png" width="35" height="35"
                 class="d-inline-block align-top"
                 alt="">
            NomNom
          </a>
        </div>
      </div>
      <div class="col-5">
        <div class="text-center">
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search"
                   placeholder="Search" aria-label="Search" [(ngModel)]="searchData.RestaurantName"
                   (ngModelChange)="onSearchValueChanged($event)">
            <button class="btn btn-outline-success btn-group-sm "
                    [class.disabled-half]="searchData.RestaurantName==''"
                    type="submit" (click)="search()">Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="text-right">
          <div class="dropdown">
            <button type="button" class="btn"
                    data-toggle="dropdown">
              <svg class="bi bi-person-circle" width="35"
                   height="35" viewBox="0 0 16 16"
                   fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.468 12.37C12.758 11.226 11.195 10 8
                                    10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0
                                    8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0
                                        0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd"
                      d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8
                                            1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                                            8z"/>
              </svg>
            </button>
            <div class="dropdown-menu
                                        dropdown-menu-right">
              <a class="dropdown-item" href="#">Order
                History</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </nav>
    <br><br><br><br>

    <!-- Restaurants -->

    <div class="container-fluid">
      <div class="row no-gutters">
        <div class="col-7">
          <div *ngFor="let rest of searchedRestaurant">
            <!-- 2nd Restaraunt -->
            <div class="list1 cursor-pointer">
              <div class="card hoverable" [routerLink]="['../rest-details', rest.id]" style="max-width: 60vw;">
                <div class="row no-gutters">
                  <div class="col-3">
                    <img
                      src="{{rest.img1}}"
                      class="card-img"
                      alt="cardImg">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-1
                                                align-self-center">
                    <img
                      src="{{rest.img2}}"
                      class="card-img" alt="Logo">
                  </div>
                  <div class="col-1"></div>
                  <div class="col-4
                                                align-self-center">
                    <h5 class="card-title">{{rest.name}}</h5>
                    <p class="card-text">{{rest.del_time}}</p>
                    <p class="card-text">{{rest.del_fee}}</p>

                  </div>
                  <div class="col-2
                                                align-self-center">
                    <div
                      class="tile"><span
                      class="text-danger">{{rest.rating}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
        <!------------------MapColumn--------------------->
        <div class="col-1"></div>


        <div class="col-4">

          <div class="map">
            <ngui-map id="gmap" center="New Westminter, BC, Canada" class="map-wrapper">
              <ng-container *ngFor="let rest of restaurants">

                <marker position="{{rest.lat}},{{rest.lng}}" label="{{rest.name}}" class="custom-icon location">

                  <i class="fas fa-utensils"></i>

                </marker>

              </ng-container>
            </ngui-map>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
