<div class="container-fluid">


  <div class="row">

    <nav class="navbar fixed-top navbar-light bg-light">

      <div class="col-6">
        <div class="text-left">
          <a class="navbar-brand" href="#">
            <img src="../assets/logo_small.png" width="35" height="35"
                 class="d-inline-block align-top"
                 alt="">
            NomNom
          </a>
        </div>
      </div>

      <div class="col-6">
        <div class="text-right">
          <div class="dropdown">
            <button type="button" class="btn" data-toggle="dropdown">
              <svg class="bi bi-person-circle" width="35"
                   height="35" viewBox="0 0 16 16"
                   fill="currentColor"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.468 12.37C12.758 11.226 11.195 10 8
                                                            10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0
                                                            8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0
                                                                0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd"
                      d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8
                                                                    1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0
                                                                    8z"/>
              </svg>
            </button>
            <div class="dropdown-menu
                                                                dropdown-menu-right">
              <a class="dropdown-item" href="#">Order
                History</a>
              <a class="dropdown-item" href="#">Account</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>

    </nav>


  </div>

  <div class="info card text-center">

    <div class="row">
      <div class="col-1"></div>
      <label class="col-4 text-left">Name</label>
      <label class="col-6 text-right"> Nam Phan</label>

    </div>


    <div class="row">

      <div class="col-1"></div>
      <span class="col-4 text-left">Address</span>

      <input type="text" value="1234 12thAve" class="col-6 text-right">

    </div>


    <div class="row">

      <div class="col-1"></div>
      <span class="col-4 text-left">Phone Number</span>

      <input type="text" value="123-456-789" class="col-6 text-right">

    </div>


    <div class="row">
      <div class="col-1"></div>
      <span class="col-4 text-left">Email</span>
      <span class="col-6 text-right"> abc@gmail.com</span>

    </div>

    <div class="row"></div>
    <div class="row"></div>


    <div class="row">


    </div>
      <div class="row"></div>
      <div class="row"></div>

  </div>

</div>
