<div class="container-fluid">


  <div class="row">


      <app-header></app-header>



  </div>

  <div class="info card text-center">

    <div class="row">
      <div class="col-1"></div>
      <label class="col-4 text-left">Name:</label>
      <label class="col-6 text-right">{{customer.name}}</label>

    </div>


    <div class="row">

      <div class="col-1"></div>
      <label class="col-4 text-left">Address:</label>

      <label class="col-6 text-right">{{customer.address}} </label>

    </div>


    <div class="row">

      <div class="col-1"></div>
      <label class="col-4 text-left">Phone Number:</label>

      <label class="col-6 text-right">{{customer.phone_no}} </label>

    </div>


    <div class="row">
      <div class="col-1"></div>
      <label class="col-4 text-left">Email:</label>
      <label class="col-6 text-right">{{customer.email}}</label>

    </div>

  </div>

</div>
