<div class="p-5">
  <div>
    <button type="button" class="btn btn-outline-primary" (click)="onRefresh()">
      <i class="fas fa-sync-alt"></i>
    </button>
  </div>
  <table class="table" *ngIf="!!orders && orders.length">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th *ngFor="let obj of orders[0] | keyValueOrder: ['_raw']:['id']">{{obj.key}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of orders; let $index = index;">
    <tr>
      <th scope="row">{{$index + 1}}</th>
      <td *ngFor="let obj of item | keyValueOrder: ['_raw']:['id']">{{obj.value}}</td>
    </tr>
    <tr>
      <td [colSpan]="(item | keyValueOrder: ['_raw']).length + 1">
        <div><b>CUSTOMER</b></div>
        <div>
          {{item?.customer?.name}}|{{item?.customer?.email}}
        </div>
        <div><b>RESTAURANT</b></div>
        <div>
          {{item?.restaurant?.name}}|{{item?.restaurant?.address}}
        </div>
        <div><b>MEALS</b></div>
        <div *ngFor="let orderItem of item.items">
          {{orderItem?.meal?.id}}|{{orderItem?.meal?.name}}| ${{orderItem?.meal?.price}} | x{{orderItem?.quantity}}
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
