<div class="container">
  <nav class="navbar fixed-top navbar-light bg-light">

    <div class="col-4">
      <div class="text-left">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/logo_small.png" width="35px" height="35px"
               class=""
               alt="">
          NomNom
        </a>
      </div>
    </div>
  </nav>

  <br/><br/>
  <br/><br/>

  <div class="container-fluid">
    <div class="form-signin">

      <div class="row">
        <div class="col">
          <label for="inputEmail" class="txtlabel">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="email" id="inputEmail" class="form-control txtbox1" placeholder="Enter Email" required=""
                 autofocus=""
                 [ngModel] = "signupFormGroup.get('email').value"
                 (ngModelChange) = "signupFormGroup.get('email').setValue($event)"
          >
        </div>

      </div>
        <div *ngIf="signupFormGroup.get('email').invalid">
          <div *ngFor="let error of signupFormGroup.get('email').errors | keyValueOrder" [ngSwitch]="error.key">
            <div *ngSwitchCase="'required'">
              This field is required
            </div>
            <div *ngSwitchCase="'email'">
              This email is invalid
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col">
          <label for="inputPassword" class="txtlabel">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="password" id="inputPassword" class="form-control txtbox2" placeholder="Enter Password"
                 name="inputEmail"
                 [ngModel] = "[signupFormGroup.get('password').value]"
                 (ngModelChange) = "[signupFormGroup.get('password').setValue($event)]"
                 required="">
        </div>
      </div>
      <div *ngIf="signupFormGroup.get('password').invalid">
        <div *ngFor="let error of signupFormGroup.get('password').errors | keyValueOrder" [ngSwitch]="error.key">
          <div *ngSwitchCase="'required'">
            This field is required
          </div>
          <div *ngSwitchCase="'password'">
            This email is invalid
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="" class="txtlabel">Re-Password</label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="password" id="" class="form-control txtbox2" placeholder="Re-enter Password"
                 [ngModel] = "signupFormGroup.get('password').value"
                 (ngModelChange) = "signupFormGroup.get('password').setValue($event)"
                 required="">
        </div>
      </div>

      <div *ngIf="signupFormGroup.get('password').invalid">
        <div *ngFor="let error of signupFormGroup.get('password').errors | keyValueOrder" [ngSwitch]="error.key">
          <div *ngSwitchCase="'required'">
            This field is required
          </div>
          <div *ngSwitchCase="'password'">
            This email is invalid
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-back" type="submit">BACK</button>
        </div>

        <div class="col">
          <a class="btn btn-red" role="button" (click)="signup()">SIGN UP</a>
        </div>
      </div>
    </div>
  </div>

  <div class="postform">

  </div>


</div>
