<div class="body">
<div class="banner">

  <img class="bimg1" src="../../../assets/png-save-restaurant-4880-free-icons-and-png-backgrounds-restaurant-png-free-893_894@2x.png" height="100%"/>
  <img class="bimg2" src="../../../assets/map-marked-alt-solid.svg" />


</div>
<div >
  <br/><br/><br/><br/>
  <form class="Login" method="post" action="#">
    <p>Email <br/> <input type="text" class="email" placeholder="Enter email" /></p>
    <p>Password <br/> <input type="text" class="pass" placeholder="Enter password"/></p>
    <p>Re-Password <br/> <input type="text" class="repass" placeholder="Re enter password"/></p>
    <p class="submit"><button class="back"> Back</button> <button class="commit"> Sign Up</button></p>

    <br/>

  </form>

</div>

<div>
  <h2>OR</h2>

  <br/>

  <button class="google-sign"><img src="../../../assets/btn_google_signin_dark_focus_web@2x.png" class="google-img"/></button>

  <br/><br/><br/><br/>
</div>
</div>
