.container {
  font: 20px montserrat, bold;
  background: #E3E5E8 0% 0% no-repeat padding-box;
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.form-signin {
  width: 100%;
  max-width: 598px;
  padding: 15px;
  margin: auto;}

.txtbox1, .txtbox2 {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #000029;
  opacity: 1;
  background-position-x: 16px;
  background-position-y: center;
  padding-left: 50px;
}
.txtbox1 {
  background-image: url('../../../assets/user-light.svg');
}

.txtbox2 {
  background-image: url('../../../assets/key-light.svg');
}

.txtlabel {
  text-align: left;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
  margin-top: 25px;
  margin-bottom: 13px;
}
.btn-red {
  margin-top: 46px;
  float: right;
  background: #E91431 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #000029;
  border: 1px solid #707070;
  opacity: 1;
  width: 168px;
}

.btn-back {
  margin-top: 46px;
  width: 168px;
  background: #E3E5E8 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #000029;
  border: 1px solid #E91431;
  opacity: 1;
  color: #e91431;
}

.postform {
  margin-top: 40px;
  text-align: center;
}

.or {
  letter-spacing: 0px;
  color: #002F5A;
  opacity: 1;
}
.google-sign
{
  border: none;
  background: #e3e5e8;
}
